---

---

<div class="grid place-items-center text-center">
  <h1 class="text-3xl mb-3">Subscribe to my blog</h1>

  <p class="dark:text-zinc-300">You can subscribe to my blog via newsletter or RSS Feed at the top.</p>
  <p class="dark:text-zinc-300 mb-5">By the way, this doesn't actually work, it's just a placeholder lol.</p>
  <form class="m-4 flex sm:flex-row flex-col space-y-2 sm:space-y-0 sm:space-x-2">
    <input
      class="rounded-lg w-full p-4 bg-zinc-200 outline-none dark:text-white text-dark dark:bg-zinc-800 text-center sm:text-left ring-2 ring-opacity-0 ring-zinc-500 focus:ring-opacity-100 transition-all motion-reduce:transition-none"
      placeholder="hello@example.com"
    />
    <button class="px-5 rounded-lg dark:bg-zinc-800 bg-zinc-300 dark:text-zinc-300 text-black p-4 ring-2 ring-opacity-0 ring-zinc-500 focus:ring-opacity-100 transition-all motion-reduce:transition-none">
      <p>Subscribe</p>
    </button>
  </form>
</div>
