---

---

<div class="grid place-items-center text-center">
  <h1 class="text-3xl mb-3">Subscribe to my blog</h1>

  <p class="dark:text-zinc-300">You can subscribe to my blog via newsletter freshly sent to your mailbox!</p>
  <p class="dark:text-zinc-300 mb-5">By the way, this doesn't actually work, it's just a placeholder lol.</p>
  <form class="m-4 flex sm:flex-row flex-col">
    <input
      class="rounded-t-lg sm:rounded-none w-full sm:rounded-l-lg p-4 dark:focus:bg-gray-600 focus:bg-slate-200 bg-zinc-200 mr-0 outline-none dark:text-white text-dark dark:bg-zinc-700 text-center sm:text-left transition-colors motion-reduce:transition-none"
      placeholder="hello@example.com"
    />
    <button class="px-5 rounded-b-lg sm:rounded-none sm:rounded-r-lg dark:bg-zinc-800 hover:dark:text-white hover:text-blue-600 bg-zinc-300 dark:text-zinc-300 text-black p-4 uppercase transition-colors motion-reduce:transition-none">
      <p>Subscribe</p>
    </button>
  </form>
</div>
